<!-- Include the following on the product page -->
<div class="product-single">
	<div class="wrapper wrapper--flex">
		<!-- The product featured image (check out the different url filters you have for image sizes - more info available in the resources section) -->
		<img src="{{ product.featured_image.src | product_img_url: '750x', scale: 3 }}" alt="{{ product.featured_image.alt | escape }}" />
		<div class="product-details">
			<!--  The product title -->
			<h2 class="">{{ product.title }}</h2>

			<!--  The product description -->
			<p>{{ product.description}}</p>
			<!-- loop through all the product tags and display them -->
			{% if product.tags.size >= 1%}
				<ul class="tag-list">
					{% for tag in product.tags %}
						<li>{{tag}}</li>
					{% endfor%}
				</ul>
			{% endif %}
			{% if product.available %}
			 	<form action="/cart/add" method="post" class="product-form" id="add-to-cart">
						
					<div>
						<!-- if there are no variant options for the product create a hidden input for the only option -->
					{% if product.variants.size == 1 %}
					  <label for="product-select-option-0"></label>
					  <input type="hidden" value="{{ product.variants.first.id }}" id="product-select-option-0" name="id">

					{% else%}
					<!-- Otherwise, put a drop down with all the size options -->
					  <div>
					    <select id="product-select" name="id">
					    	<option value="" disabled selected>select a size</option>
					      {% for variant in product.variants %}
					        <option value="{{ variant.id }}" {% unless variant.available %} disabled {% endunless %}>{{ variant.title }} - {% if variant.available %}{{ variant.price | money }}{% else %}sold out{% endif %}</option>
					      {% endfor %}
					    </select>
					  </div>
					{% endif %}
					</div>

					<input type="submit" name="add" value="Purchase" class="purchase btn"  id="AddToCart" />
			  </form>
			{% else %}
				<p>this product is sold out</p>
		  {% endif %}

		</div>
	</div>
</div>

	
	
	
	  



